
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #eef5ee;
    color: #333;
}


.site-header {
    background: #d5f0d5;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #b6e1b6;
    z-index: 20;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand-icon {
    font-size: 30px;
}

h1 {
    font-size: 26px;
    color: #2f5f2f;
    font-weight: 700;
}

.cart-summary {
    text-align: right;
}

.cart-summary p {
    font-size: 16px;
    margin-bottom: 8px;
}


.btn {
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-danger {
    background: #c62828;
    color: white;
}

.btn-danger:hover {
    background: #b71c1c;
}

.btn-primary {
    background: #2e7d32;
    color: white;
}

.btn-primary:hover {
    background: #256428;
}

.add-to-cart {
    width: 100%;
    margin-top: 10px;
    background: #3a8d3a;
    color: white;
}


.container {
    padding: 40px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}


.product-card {
    background: white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius:
